{% extends 'login/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email addresss below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
    <a href="{% url 'home_page' %}">Back to homepage</a>
</div>
{% endblock %}